<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Secure Doc Share</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>System Login</h1>
    <div id="login-form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button onclick="loginUser()">Log In</button>
        <hr>
        <p style="text-align: center; margin-bottom: 10px;">Don't have an account?</p>
        <button onclick="goToRegister()" style="display: block; margin: 0 auto; width: auto;">Register</button>
    </div>

    <script src= "../static/js/login.js"> </script>
</body>
</html>