<!DOCTYPE html>
<html lang="en">
<head>
    <title>Secure Doc Share</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Register</h1>
    <input type="text" id="username" placeholder="Username">
    <input type="text" id="email" placeholder="email@email.com">
    <input type="password" id="password" placeholder="Password">
    <input type="re-enter password" id="re-enter password" placeholder="Password">
    <button onclick="registerUser()">Sign Up</button>
    <hr>
    <button onclick="goToLogin()">Log In</button>

    <script src = "../static/js/register.js"> </script>
</body>
</html>